.button {
  display: flex;
  position: relative;
  align-items: center;
  transition-duration: 0.1s;
  outline: 0 solid var(--color-border-default);
  outline-offset: -2px;
  padding: 0.75rem 1.5rem;
  width: 100%;
}

.button:not(.expand):hover {
  transition-duration: 0.2s;
  background-color: var(--color-background-accent);
}

.button.expand {
  transition-duration: 0.2s;
  background-color: var(--color-background-accent);
}

.button:focus-visible {
  outline-color: var(--color-border-focus);
  outline-width: 2px;
}

.button::before {
  position: absolute;
  top: 0;
  left: 0;
  transition-duration: 0.1s;
  height: 100%;
  content: "";
}

.button.expand::before {
  transition-duration: 0.2s;
  border-left: 3px solid var(--color-border-active);
}

.icon {
  stroke-width: 1.5px;
  width: 1rem;
  height: 1rem;
}

.menu {
  display: none;
  list-style: none;
}

.menu.expand {
  display: block;
}

@media (min-width: 640px) {
  .button {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

@media (min-width: 768px) {
  .button {
    padding-right: 4.5rem;
    padding-left: 4.5rem;
  }
}
