.link {
  display: block;
  transition-duration: 0.1s;
  outline: 0 solid var(--color-border-default);
  outline-offset: -2px;
  padding-top: 0.75rem;
  padding-right: 1.5rem;
  padding-bottom: 0.75rem;
  padding-left: 2.5rem;
}

.link:hover {
  transition-duration: 0.2s;
  background-color: var(--color-background-accent);
}

.link:focus-visible {
  outline-color: var(--color-border-focus);
  outline-width: 2px;
}

@media (min-width: 640px) {
  .link {
    padding-right: 3rem;
    padding-left: 4rem;
  }
}

@media (min-width: 768px) {
  .link {
    padding-right: 4.5rem;
    padding-left: 5.5rem;
  }
}
