.header {
  position: relative;
  align-items: center;
}

.heroSection {
  margin-bottom: 4rem;
}

.stockComparisonSection {
  margin-bottom: 4rem;
}

.calculatorSection {
  margin-bottom: 4rem;
}

.footer {
  row-gap: 1rem;
  align-items: center;
  margin-bottom: 1.5rem;
}

@media (min-width: 640px) {
  .heroSection {
    margin-bottom: 5rem;
  }

  .stockComparisonSection {
    margin-bottom: 5rem;
  }

  .calculatorSection {
    margin-bottom: 5rem;
  }

  .footer {
    row-gap: 0.5rem;
  }
}

@media (min-width: 768px) {
  .heroSection {
    margin-bottom: 6rem;
  }

  .stockComparisonSection {
    margin-bottom: 6rem;
  }

  .calculatorSection {
    margin-bottom: 6rem;
  }
}

@media (min-width: 1024px) {
  .heroSection {
    margin-bottom: 7rem;
  }

  .stockComparisonSection {
    margin-bottom: 7rem;
  }

  .calculatorSection {
    margin-bottom: 7rem;
  }
}

@media (min-width: 1280px) {
  .heroSection {
    margin-bottom: 8rem;
  }

  .stockComparisonSection {
    margin-bottom: 8rem;
  }

  .calculatorSection {
    margin-bottom: 8rem;
  }
}
