.label {
  display: block;
  color: var(--color-text-label);
  font-weight: 500;
}

.screenReaderLabel {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}
