.heroSection {
  padding-top: 2.5rem;
  padding-right: 2rem;
  padding-bottom: 2.5rem;
  padding-left: 2rem;
  color: #262626;
  text-align: center;
}

.h1 {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 2.4rem;
}

.p {
  font-size: 1rem;
}

.image {
  display: none;
}

@media (min-width: 640px) {
  .heroSection {
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 2rem;
    align-items: center;
    background-color: #2563eb;
    padding-top: 3rem;
    padding-right: 4rem;
    padding-bottom: 3rem;
    padding-left: 4rem;
    color: #fafafa;
    text-align: left;
  }

  .h1 {
    margin-bottom: 1.5rem;
  }

  .image {
    display: block;
  }
}

@media (min-width: 768px) {
  .heroSection {
    column-gap: 3rem;
    padding-top: 3.5rem;
    padding-right: 6rem;
    padding-bottom: 3.5rem;
    padding-left: 6rem;
  }

  .h1 {
    margin-bottom: 2rem;
    font-size: 2.6rem;
  }

  .p {
    font-size: 1.1rem;
  }
}

@media (min-width: 1024px) {
  .heroSection {
    column-gap: 4rem;
    padding-top: 4rem;
    padding-right: 8rem;
    padding-bottom: 4rem;
    padding-left: 8rem;
  }

  .h1 {
    margin-bottom: 2.5rem;
    font-size: 2.8rem;
  }

  .p {
    font-size: 1.2rem;
  }
}

@media (min-width: 1280px) {
  .heroSection {
    column-gap: 5rem;
    padding-top: 4.5rem;
    padding-right: 10rem;
    padding-bottom: 4.5rem;
    padding-left: 10rem;
  }

  .h1 {
    margin-bottom: 3rem;
    font-size: 3rem;
  }

  .p {
    font-size: 1.3rem;
  }
}
