.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: #737373;
  font-size: 0.875rem;
  list-style: none;
}

.link {
  transition-duration: 100ms;
}

.link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.link:focus-visible {
  outline-style: none;
  text-decoration: underline;
  text-underline-offset: 2px;
}

@media (min-width: 640px) {
  .menu {
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.75rem;
  }
}

@media (min-width: 768px) {
  .menu {
    gap: 1rem;
  }
}
