.menu {
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  border: 1px solid #e5e5e5;
  border-top: 0;
  border-radius: 0.375rem;
  background-color: var(--color-background-surface);
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 16rem;
}
