.header {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.mobileMenu {
  grid-column: 1 / 2;
}

.logo {
  grid-column: 2 / 4;
  justify-self: center;
}

.desktopMenu {
  display: none;
  justify-self: center;
}

.mobileSearchbox {
  grid-column: 4 / 5;
  justify-self: end;
}

.desktopSearchbox {
  display: none;
  justify-self: center;
}

.languageSelector {
  display: none;
  justify-self: end;
}

@media (min-width: 640px) {
  .mobileMenu {
    grid-column: 1 / 3;
  }

  .logo {
    grid-column: 3 / 7;
  }

  .mobileSearchbox {
    grid-column: 7 / 9;
  }
}

@media (min-width: 768px) {
  .mobileSearchbox {
    display: none;
  }

  .desktopSearchbox {
    display: block;
    grid-column: 7 / 9;
  }
}

@media (min-width: 1024px) {
  .mobileMenu {
    display: none;
  }

  .logo {
    grid-column: 1 / 5;
    justify-self: start;
  }

  .desktopMenu {
    display: block;
    grid-column: 5 / 8;
  }

  .desktopSearchbox {
    grid-column: 8 / 11;
  }

  .languageSelector {
    display: block;
    grid-column: 11 / 13;
  }
}
