.searchbox {
  max-width: 13rem;
}

.form {
  position: relative;
}

.screenReaderLabel {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.input {
  display: block;
  transition-duration: 0.1s;
  outline: 1px solid var(--color-border-default);
  outline-offset: 0;
  border-radius: 9999px;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  width: 100%;
  color: #171717;
  font-size: 0.875rem;
}

.input::placeholder {
  color: #a3a3a3;
}

.input:focus-visible {
  outline-color: var(--color-border-focus);
  outline-width: 2px;
}

.button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  transition-duration: 0.1s;
  cursor: pointer;
  outline: 0 solid var(--color-border-default);
  border-radius: 0 9999px 9999px 0;
  padding: 0 0.5rem;
  color: #737373;
  text-align: center;
}

.button:hover {
  transition-duration: 0.2s;
  color: #171717;
}

.button:focus-visible {
  outline-color: var(--color-border-focus);
  outline-width: 2px;
}

.screenReaderText {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.icon {
  stroke-width: 1.5px;
  width: 1.25rem;
  height: 1.25rem;
}
