.openDialogButton {
  vertical-align: middle;
  transition-duration: 0.1s;
  outline: 0 solid var(--outline-color);
  outline-offset: 2px;
  border-radius: 0.25rem;
  color: #525252;
}

.openDialogButton:hover {
  transition-duration: 0.2s;
  color: #171717;
}

.openDialogButton:focus-visible {
  outline-color: var(--outline-focus-color);
  outline-width: 2px;
}

.screenReaderText {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.openDialogMagnifyingGlassIcon {
  stroke-width: 1.5px;
  width: 1.75rem;
  height: 1.75rem;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dialog {
  animation: fade-in 0.2s ease-in-out;
  border: 1px solid #d4d4d4;
  border-radius: 0.375rem;
  background-color: #fafafa;
  padding: 2rem 1.25rem;
}

.dialog::backdrop {
  opacity: 0.8;
  background-color: #fafafa;
}

.closeButton {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  transition-duration: 0.1s;
  cursor: pointer;
  outline: 0 solid var(--outline-color);
  outline-offset: 2px;
  border-radius: 0.25rem;
  color: #525252;
}

.closeButton:hover {
  transition-duration: 0.2s;
  color: #171717;
}

.closeButton:focus-visible {
  outline-color: var(--outline-focus-color);
  outline-width: 2px;
}

.xMarkIcon {
  stroke-width: 1.5px;
  width: 1.75rem;
  height: 1.75rem;
}

.form {
  position: relative;
  margin-top: 2rem;
}

.screenReaderLabel {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.input {
  display: block;
  transition-duration: 0.1s;
  outline: 1px solid var(--outline-color);
  border-radius: 9999px;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  width: 100%;
  color: #171717;
  font-size: 0.875rem;
}

.input::placeholder {
  color: #a3a3a3;
}

.input:focus-visible {
  outline-color: var(--outline-focus-color);
  outline-width: 2px;
}

.submitButton {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  transition-duration: 0.1s;
  cursor: pointer;
  outline: 0 solid var(--outline-color);
  border-radius: 0 9999px 9999px 0;
  padding: 0 0.5rem;
  color: #737373;
  text-align: center;
}

.submitButton:hover {
  transition-duration: 0.2s;
  color: #171717;
}

.submitButton:focus-visible {
  outline-color: var(--outline-focus-color);
  outline-width: 2px;
}

.searchMagnifyingGlassIcon {
  stroke-width: 1.5px;
  width: 1.25rem;
  height: 1.25rem;
}
