.languageSelector {
  position: relative;
  color: #525252;
  font-weight: 600;
  font-size: 0.875rem;
}

.button {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  transition-duration: 100ms;
  outline: 0 solid var(--outline-color);
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
}

.button:hover {
  transition-duration: 200ms;
  background-color: #e5e5e5;
}

.button:focus-visible {
  outline-color: var(--outline-focus-color);
  outline-width: 2px;
}

.languageIcon {
  stroke-width: 1.5px;
  width: 1.5rem;
  height: 1.5rem;
}

.chevronIcon {
  stroke-width: 1.5px;
  width: 1rem;
  height: 1rem;
}

.menu {
  position: absolute;
  top: 100%;
  left: 1.25rem;
  transform: translateY(0.25rem);
  visibility: hidden;
  opacity: 0;
  transition-duration: 100ms;
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  border: 1px solid #e5e5e5;
  border-top: 0;
  border-radius: 0.375rem;
  background-color: #fafafa;
  padding: 0.75rem 0;
  width: 9rem;
  list-style: none;
}

.menu.expanded {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
  transition-duration: 200ms;
}

.english {
  font-family: var(--font-inter);
}

.simplifiedChinese {
  font-family: var(--font-noto-sans-sc);
}

.menuItemText {
  display: block;
  background-color: #e5e5e5;
  padding: 0.625rem 1.5rem;
}

.menuItemLink {
  display: block;
  position: relative;
  transition-duration: 100ms;
  padding: 0.625rem 1.5rem;
}

.menuItemLink:hover {
  transition-duration: 200ms;
  background-color: #dbeafe;
}

.menuItemLink:focus-visible {
  transition-duration: 200ms;
  outline-style: none;
  background-color: #dbeafe;
}

.menuItemLink::before {
  position: absolute;
  top: 0;
  left: 0;
  transition-duration: 100ms;
  height: 100%;
  content: "";
}

.menuItemLink:hover::before {
  transition-duration: 200ms;
  border-left: 3px solid var(--outline-hover-color);
}

.menuItemLink:focus-visible::before {
  transition-duration: 200ms;
  border-left: 3px solid var(--outline-focus-color);
}
