.pageHeader {
  position: relative;
  align-items: center;
  margin-bottom: 2.5rem;
}

.main {
  margin-bottom: 2.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.mainHeader {
  margin-bottom: 1rem;
}

.h1 {
  color: #1e40af;
  font-weight: 600;
  font-size: 2rem;
}

.hr {
  margin-bottom: 2rem;
  margin-left: 0;
  border: 0;
  border-bottom: 4px solid #1e40af;
  width: 11rem;
}

.footer {
  row-gap: 1rem;
  align-items: center;
  margin-bottom: 1.5rem;
}

@media (min-width: 640px) {
  .main {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .footer {
    row-gap: 0.5rem;
  }
}

@media (min-width: 768px) {
  .main {
    padding-right: 4.5rem;
    padding-left: 4.5rem;
  }
}

@media (min-width: 1024px) {
  .pageHeader {
    margin-bottom: 4rem;
  }

  .main {
    margin-bottom: 4rem;
  }
}

@media (min-width: 1280px) {
  .main {
    padding-right: 6rem;
    padding-left: 6rem;
  }
}
