.button {
  display: flex;
  position: relative;
  align-items: center;
  transition-duration: 100ms;
  outline: 0 solid var(--outline-color);
  outline-offset: -2px;
  padding: 0.75rem 1.5rem;
  width: 100%;
}

.button:not(.expand):hover {
  transition-duration: 200ms;
  background-color: #dbeafe;
}

.button.expand {
  transition-duration: 200ms;
  background-color: #dbeafe;
}

.button:focus-visible {
  outline-color: var(--outline-focus-color);
  outline-width: 2px;
}

.button::before {
  position: absolute;
  top: 0;
  left: 0;
  transition-duration: 100ms;
  height: 100%;
  content: "";
}

.button.expand::before {
  transition-duration: 200ms;
  border-left: 3px solid #2563eb;
}

.menu {
  display: none;
  list-style: none;
}

.menu.expand {
  display: block;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}

@media (min-width: 640px) {
  .button {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}

@media (min-width: 768px) {
  .button {
    padding-right: 3.5rem;
    padding-left: 3.5rem;
  }
}
